.container{
    display:block;
    float: right;
    height: 86.5vh;
    border-top: 4px solid black;
    border-left: 4px solid black;
    border-bottom : 4px solid black;
    border-radius: 0 0 0 20px;
}

.loginForm{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.title{
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 5px;
}

.hr{
    width: 100%;
    text-align: center;
    border-top: 1.4px solid black;
    padding-bottom: 17px;
}

.id{
    margin-bottom: 10px;
}

.acss{
    height: 30px;
    text-decoration: none;
    color: black;
    font-size: 13px;
}