.navbar {
    background-color: #fff;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
    border-bottom: solid 2px black;
  }
  
  .navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    max-width: 1500px;
    background-color: #fff;
    border-bottom: solid 1px black;
  }

  .currentPage-coummunity{
    font-size: 2.0rem;
    display: grid;
    grid-gap: 0px;
    text-align: center;
    width: 80vw;
    justify-content: end;
    
  }
  
  .navbar-logo {
    color: rgb(0, 0, 0);
    justify-self: start;
    margin-left: 1rem;
    cursor: pointer;
    text-decoration: none;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
  }
  
  .fa-user {
    margin-left: 1.2rem;
    font-size: 1.8rem; 
  }
  
  .nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 0px;
    list-style: none;
    text-align: center;
    width: 80vw;
    justify-content: end;
    margin-right: 1rem;
    background-color: rgba(255, 255, 255, 0.219);
  }
  
  .nav-item {
    height: 40px;
    border-bottom: solid 2px black;
  }
  
  .nav-links {
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
  }
  
  .nav-links:hover {
    border-bottom: 4px solid rgba(32, 31, 31, 0.336);
    transition: all 0.5s ease-out;
  }