.board2_main{
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;

}

.board2_title{
  float: left;
}

.board2_group{
  width: 100%;
  background-color:darkgrey;
  color: white;
  font-weight:100;
}

.group_btn{
border: 0;
outline: 0;
color: white;
font-size: large;
background-color:darkgrey;

}

.search{
float: right;
margin-bottom: 20px;
}

.search_text{
margin-right: 2px;
}

.board_table{
width: 1000px;
}

.table_menu{
  height: 30px;

}

.menu_item{
  border-top: 1.5px solid black;
  border-bottom: 1.5px solid black;
  padding-right: 10px;
  padding-left: 10px;
  margin: 3px;
}

.table_content{
  height: 30px;
  border: 1px solid black;
}

.write_btn{
  float: right;
  width: 10%;
  height: 11%;
  font-size:medium;
  background-color: white;
  border: 1.3px solid black;
}


.ex {
  text-align: center;
}

.movie-container {
  margin: 0 auto;
  width: 80%;
  border: 1px solid #333;
  padding: 10px 0 30px 0;
  border-radius: 5px;
  margin-bottom : 50px;
}

.movie-item{
  border: 1px solid #333;
  margin: 10px;
}

.form-wrapper{
  width: 60%;
  margin: 0 auto;
}

.title-input {
  width: 500px;
  height: 40px;
  margin: 10px;
}

.submit-button {
  width: 120px;
  height: 40px;
  font-size: 20px;
  background-color: black;
  color: white;
  border: 1.3px solid black;
  border-radius: 5px;
  margin-top: 40px;
  vertical-align: middle;
}

.ck.ck-editor__editable:not(.ck-editor__nested-editable) {
  min-height: 500px;
}