
.acc-container{
    position: absolute;
    text-align: center;
    left: 20%;
    right: 20%;
}

.acc-title{
    float: left;
    margin-top: 20px;
    margin-bottom: 25px;
    margin-right: 630px;
}

.best{
    margin-bottom: 20px;
}

.best-title{
    display: block;
    margin-bottom: 15px;
}

.acc-list{
    margin-top: 20px;
}

.list-title{
    float: left;
    margin-bottom: 15px;
}

.acc-img, .best-img{
    display: flex;
    width: 100%;
    justify-content: center;
}

.imglist{
    margin-left: 6px;
    margin-right: 6px;
}