.shop-main{
    align-items: center;
    justify-content: center;


}

.shop-container{
    position: absolute;
    text-align: center;
    left: 20%;
    right: 20%;
}

.adv-title{
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
}

.discount-title{
    margin-top: 30px;
    margin-bottom: 20px;
    margin-right: 500px;
    float: left;
}

.discount-img{
    display: flex;
    width: 100%;
    justify-content: center;
}

.imglist{
    margin-left: 6px;
    margin-right: 6px;
}