.toy-main{
    display: flex;
}


.toy-container{
    flex: 1;
    position: absolute;
    text-align: center;
    left: 25%;
    right: 20%;
}

.toy-title{
    float: left;
    margin-top: 20px;
    margin-bottom: 25px;
}

.best{
    margin-bottom: 20px;
}

.best-title{
    display:block;
    float: right;
    margin-bottom: 15px;
    margin-top: 70px;
    margin-right: 42%;
}

.toy-list{
    margin-top: 20px;
}

.list-title{
    float: left;
    margin-bottom: 15px;
}

.toy-img, .best-img{
    display: flex;
    width: 100%;
    justify-content: center;
}

.imglist{
    margin-left: 6px;
    margin-right: 6px;
}